@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'BebasNeue';
    src: url('./assets/fonts/BebasNeue/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LexEnd';
    src: url('./assets/fonts/Lexend/Lexend-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.BebasNeue {
    font-family: 'BebasNeue', sans-serif;
}
.LexEnd {
    font-family: 'LexEnd', sans-serif;
}




/* Personalización general de scrollbars */
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra */
}

/* Estilo del track (fondo de la barra) */
::-webkit-scrollbar-track {
  background: #6a6b70; /* Color de fondo del track */
/*  border-radius: 15px;*/
}

/* Estilo del thumb (la parte que se desplaza) */
::-webkit-scrollbar-thumb {
  background: #3b3b3e; /* Color del thumb */
/*  border-radius: 10px;*/
}

/* Estilos adicionales (opcional) */
::-webkit-scrollbar-thumb:hover {
  background: #171718; /* Color del thumb al pasar el mouse */
}
